@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.campaign {
  padding-bottom: 100px;
}
.campaign .campaign-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #2966FF;
}
.campaign .campaign-subtitle {
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 75px;
  color: #2E4276;
}
.campaign .campaign-subtitle span {
  color: #2966FF;
}
.campaign .two-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.campaign .two-col .left-sec {
  flex: auto;
  width: 23%;
}
.campaign .two-col .left-title {
  text-align: left;
}
.campaign .two-col .top-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px 0px;
  color: #2E4276;
}
.campaign .two-col .top-heading span {
  color: #2966FF;
}
.campaign .two-col .campaign-content {
  padding-bottom: 40px;
}
.campaign .two-col .campaign-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.campaign .two-col .join-us a {
  text-decoration: none;
  border-radius: 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #2966FF;
  padding: 15px 100px;
}
.campaign .two-col .right-sec {
  flex: 1;
  padding-left: 80px;
  position: relative;
}
.campaign .two-col .right-sec::before {
  position: absolute;
  content: "";
  background-image: url(/img/probase-icon-light.png);
  background-repeat: no-repeat;
  top: 112px;
  right: -93px;
  width: 211px;
  height: 224px;
}
.campaign .two-col .right-sec .right-boxes {
  background: linear-gradient(150.43deg, rgba(78, 93, 181, 0.09) 1.44%, rgba(121, 140, 255, 0) 47.82%);
  border: 1px solid #A1BBFF;
  border-radius: 27px;
  padding: 50px 30px;
  margin-bottom: 25px;
}
.campaign .two-col .right-sec .right-boxes .bottom-content {
  color: #2E4276;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
}

@media (max-width: 1679px) {
  .campaign {
    padding-bottom: 50px;
  }
  .campaign .campaign-title {
    font-size: 18px;
  }
  .campaign .campaign-subtitle {
    font-size: 30px;
    line-height: 53px;
  }
  .campaign .two-col .top-heading {
    font-size: 28px;
    line-height: 44px;
  }
  .campaign .two-col .campaign-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .campaign .two-col .right-sec .right-boxes .bottom-content {
    font-size: 22px;
  }
  .campaign .two-col .right-sec::before {
    right: -69px;
  }
}
@media (max-width: 1441px) {
  .campaign {
    padding-bottom: 50px;
  }
  .campaign .campaign-title {
    font-size: 16px;
  }
  .campaign .campaign-subtitle {
    font-size: 28px;
    line-height: 43px;
  }
  .campaign .two-col .top-heading {
    font-size: 26px;
    line-height: 40px;
  }
  .campaign .two-col .campaign-content p {
    font-size: 14px;
    line-height: 22px;
  }
  .campaign .two-col .right-sec .right-boxes .bottom-content {
    font-size: 19px;
  }
  .campaign .two-col .right-sec::before {
    right: -69px;
  }
}
@media (max-width: 1281px) {
  .campaign .campaign-subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 991px) {
  .campaign .campaign-subtitle {
    font-size: 22px;
    line-height: 32px;
  }
  .campaign .campaign-title {
    font-size: 14px;
  }
  .campaign .two-col .campaign-content p {
    font-size: 12px;
    line-height: 22px;
  }
  .campaign .two-col .top-heading {
    font-size: 20px;
    line-height: 26px;
  }
  .campaign .two-col .join-us a {
    font-size: 14px;
    padding: 15px 60px;
  }
  .campaign .two-col .right-sec .right-boxes .bottom-content {
    font-size: 20px;
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .campaign .campaign-subtitle {
    padding-bottom: 35px !important;
  }
  .campaign .two-col {
    flex-wrap: wrap;
  }
  .campaign .two-col .top-heading {
    padding: 10px 0px;
  }
  .campaign .two-col .left-sec {
    width: 100%;
  }
  .campaign .two-col .right-sec {
    padding-top: 50px;
    padding-left: 0px;
  }
  .campaign .two-col .right-sec::before {
    right: -52px;
    top: 167px;
    height: 150px;
    width: 150px;
    background-size: contain;
  }
  .campaign .two-col .right-sec .right-boxes:last-child {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .campaign .campaign-subtitle {
    padding-bottom: 35px !important;
  }
  .campaign .two-col {
    flex-wrap: wrap;
  }
  .campaign .two-col .top-heading {
    padding: 10px 0px;
  }
  .campaign .two-col .left-sec {
    width: 100% !important;
  }
  .campaign .two-col .right-sec {
    padding-top: 50px;
    padding-left: 0px !important;
  }
  .campaign .two-col .right-sec::before {
    top: 149px !important;
  }
}
.theme-dark .campaign .top-heading {
  color: #fff;
}
.theme-dark .campaign .top-heading span {
  color: #0C15F9;
}
.theme-dark .campaign .campaign-title {
  color: #0C15F9;
}
.theme-dark .campaign .campaign-subtitle {
  color: #fff;
}
.theme-dark .campaign .campaign-subtitle span {
  color: #0C15F9;
}
.theme-dark .campaign .join-us a {
  background-color: #2966FF;
  color: #fff;
}
.theme-dark .campaign .two-col .right-sec::before {
  background-image: url(/img/probase_icon.png);
}
.theme-dark .campaign .two-col .right-sec .right-boxes .bottom-content {
  color: #fff !important;
}