@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.section-partners {
  padding-top: 60px;
  padding-bottom: 30px; }
  @media (max-width: 1679px) {
    .section-partners {
      padding-top: 50px;
      padding-bottom: 20px; } }
  @media (max-width: 1441px) {
    .section-partners {
      padding-top: 40px;
      padding-bottom: 15px; } }
  @media (max-width: 1281px) {
    .section-partners {
      padding-top: 30px; } }
  @media (max-width: 991px) {
    .section-partners {
      padding-top: 24px; } }
  .section-partners .title {
    font-size: 27px;
    margin-bottom: 1.333em;
    color: #2E4276; }
    @media (max-width: 1679px) {
      .section-partners .title {
        font-size: 22px; } }
    @media (max-width: 1441px) {
      .section-partners .title {
        font-size: 20px;
        margin-bottom: 1.2em; } }
    @media (max-width: 991px) {
      .section-partners .title {
        font-size: 18px; } }
  .section-partners .partners-container {
    margin-bottom: 60px; }
    @media (max-width: 1679px) {
      .section-partners .partners-container {
        margin-bottom: 50px; } }
    @media (max-width: 1441px) {
      .section-partners .partners-container {
        margin-bottom: 40px; } }
    @media (max-width: 1281px) {
      .section-partners .partners-container {
        margin-bottom: 30px; } }
    @media (max-width: 991px) {
      .section-partners .partners-container {
        margin-bottom: 20px; } }
  .section-partners .partner-wrp {
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    background-color: #F8F8F8;
    border-radius: 18px;
    margin-bottom: 18px; }
    @media (max-width: 1679px) {
      .section-partners .partner-wrp {
        padding: 30px 20px;
        border-radius: 16px;
        margin-bottom: 16px; } }
    @media (max-width: 1441px) {
      .section-partners .partner-wrp {
        padding: 28px 18px;
        border-radius: 14px; } }
    @media (max-width: 1281px) {
      .section-partners .partner-wrp {
        padding: 22px 18px;
        border-radius: 12px; } }
    .section-partners .partner-wrp img {
      max-width: 140px;
      max-height: 38px;
      object-fit: contain; }
      @media (max-width: 1679px) {
        .section-partners .partner-wrp img {
          max-width: 120px;
          max-height: 32px; } }
      @media (max-width: 1441px) {
        .section-partners .partner-wrp img {
          max-width: 100px;
          max-height: 26px; } }
      @media (max-width: 1281px) {
        .section-partners .partner-wrp img {
          max-width: 80px;
          max-height: 20px; } }

.theme-dark .section-partners .title {
  color: #FFFFFF; }
.theme-dark .section-partners .partner-wrp {
  border: 1px solid #2B2B2B;
  background-color: #0A0A0A; }
  .theme-dark .section-partners .partner-wrp img {
    filter: brightness(0) invert(1);
    opacity: 0.5; }

/*# sourceMappingURL=partners.css.map */
