@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.theme-dark section.pathway-outer h3 {
  color: #fff;
}
.theme-dark section.pathway-outer .section-pathway-content .content-area {
  color: #fff;
}
.theme-dark section.pathway-outer .props-value .input-form-text {
  border: 1px solid #092E63;
  color: #fff;
}
.theme-dark section.utility-section .utility-outer h3 {
  color: #fff;
}
.theme-dark section.utility-section .utility-outer ul li {
  border: 1px solid #191B4F;
  background: #0A0A0A;
}
.theme-dark section.utility-section .utility-outer ul li span {
  color: #fff;
}
.theme-dark section.utility-section .utility-outer .btn-learn-more button.btn.btn-learn {
  color: #fff;
  background: #2966FF;
}
.theme-dark section.buy-props .txt-head {
  color: #fff;
}
.theme-dark section.buy-props .props-outer {
  border: 1px solid #1A2339;
  background: #000;
}
.theme-dark section.buy-props .props-outer .text-props-content h3, .theme-dark section.buy-props .props-outer .text-props-content p {
  color: #fff;
}
.theme-dark section.buy-props .number-txt {
  background: #0C0D30;
  color: #FFF;
}

section.pathway-outer {
<<<<<<< HEAD
  margin-top: 65px;
}
section.pathway-outer h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  max-width: 800px;
  color: #2E4276;
}
@media (max-width: 1679px) {
  section.pathway-outer h3 {
    font-size: 30px;
  }
}
section.pathway-outer h3 span {
  color: #2966FF;
}
section.pathway-outer .section-pathway-content {
  display: flex;
}
section.pathway-outer .section-pathway-content .content-area {
  font-size: 18px;
  margin-top: 35px;
  line-height: 28px;
  font-weight: 300;
  color: #4D6090;
}
section.pathway-outer .section-pathway-content .img-coin img {
  height: 360px;
}
section.pathway-outer .props-value {
  margin-top: 25px;
}
section.pathway-outer .props-value h4 {
  color: #0C15F9;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
}
section.pathway-outer .props-value .input-form-text {
  border-radius: 30px;
  border: 1px solid #B6C3E5;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  height: 60px;
  align-items: center;
  color: #2E4276;
}

section.utility-section {
  margin-top: 55px;
}
section.utility-section .utility-outer {
  margin-top: 89px;
}
section.utility-section .utility-outer h3 {
  font-size: 29px;
  margin-bottom: 30px;
  color: #2E4276;
  font-weight: 600;
}
section.utility-section .utility-outer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
section.utility-section .utility-outer ul li {
  border: 1px solid #B6C3E5;
  background: #fff;
  margin-right: 32px;
  height: 62px;
  width: 30.33%;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
section.utility-section .utility-outer ul li span {
  margin-left: 20px;
  font-style: italic;
  color: #2E4276;
}
section.utility-section .utility-outer .btn-learn-more {
  text-align: center;
  margin-top: 32px;
}
section.utility-section .utility-outer .btn-learn-more button.btn.btn-learn {
  color: #fff;
  border-radius: 28px;
  background: #2966FF;
  min-width: 300px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
}

.floating-icon-left:before {
  right: -15.33vw;
  left: auto;
  top: 0;
}

section.buy-props {
  margin-top: 115px;
}
section.buy-props .txt-head {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
  color: #2E4276;
  font-weight: 600;
}
section.buy-props .txt-head span {
  color: #0C15F9;
}
section.buy-props .props-outer {
  display: flex;
  align-items: center;
  border-radius: 27px;
  border: 1px solid #B6C3E5;
  background: #fff;
  padding: 40px;
  margin-bottom: 37px;
  justify-content: space-between;
}
section.buy-props .props-outer .text-sec-prop {
  display: flex;
}
section.buy-props .props-outer .text-props-content {
  padding-right: 100px;
}
section.buy-props .props-outer .text-props-content h3 {
  font-size: 23px;
  font-weight: 600;
  color: #2E4276;
}
section.buy-props .props-outer .text-props-content p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
  color: #4D6090;
}
section.buy-props .number-txt {
  background: #F3F3F3;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  text-align: center;
  line-height: 42px;
  flex-shrink: 0;
  color: #2E4276;
  font-weight: 500;
  font-size: 15px;
}
section.buy-props .img-icn-outr {
  margin-right: 53px;
}
=======
  margin-top: 65px; }
  section.pathway-outer h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: normal; }
    section.pathway-outer h3 span {
      color: #2966FF; }
  section.pathway-outer .section-pathway-content {
    display: flex; }
    section.pathway-outer .section-pathway-content .content-area {
      font-size: 18px;
      margin-top: 35px;
      line-height: 28px;
      padding-right: 85px;
      font-weight: 300; }
    section.pathway-outer .section-pathway-content .img-coin img {
      height: 260px; }
  section.pathway-outer .props-value {
    margin-top: 25px; }
    section.pathway-outer .props-value h4 {
      color: #0C15F9;
      font-size: 18px;
      margin-bottom: 30px; }
    section.pathway-outer .props-value .input-form-text {
      border-radius: 30px;
      border: 1px solid #092E63;
      font-size: 18px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      padding: 0px 30px;
      height: 60px;
      align-items: center; }

section.utility-section {
  margin-top: 55px; }
  section.utility-section .utility-outer {
    margin-top: 89px; }
    section.utility-section .utility-outer h3 {
      font-size: 29px;
      margin-bottom: 30px; }
    section.utility-section .utility-outer ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      section.utility-section .utility-outer ul li {
        border: 1px solid #191B4F;
        background: #0A0A0A;
        margin-right: 32px;
        height: 62px;
        width: 30.33%;
        margin-bottom: 20px;
        border-radius: 30px;
        padding: 5px 20px;
        display: flex;
        align-items: center; }
        section.utility-section .utility-outer ul li span {
          margin-left: 20px;
          font-style: italic; }
    section.utility-section .utility-outer .btn-learn-more {
      text-align: center;
      margin-top: 32px; }
      section.utility-section .utility-outer .btn-learn-more button.btn.btn-learn {
        color: #fff;
        border-radius: 28px;
        background: #2966FF;
        min-width: 300px;
        height: 48px; }

section.buy-props {
  margin-top: 115px; }
  section.buy-props .txt-head {
    text-align: center;
    font-size: 36px;
    margin-bottom: 75px; }
    section.buy-props .txt-head span {
      color: #0C15F9; }
  section.buy-props .props-outer {
    display: flex;
    align-items: center;
    border-radius: 27px;
    border: 1px solid #1A2339;
    background: #000;
    padding: 40px;
    margin-bottom: 37px;
    justify-content: space-between; }
    section.buy-props .props-outer .text-sec-prop {
      display: flex; }
    section.buy-props .props-outer .text-props-content {
      padding-right: 100px; }
      section.buy-props .props-outer .text-props-content h3 {
        font-size: 23px;
        font-weight: 600; }
      section.buy-props .props-outer .text-props-content p {
        font-size: 14px;
        font-weight: 300;
        margin-top: 12px; }
  section.buy-props .number-txt {
    background: #0C0D30;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    text-align: center;
    line-height: 42px;
    flex-shrink: 0; }
  section.buy-props .img-icn-outr {
    margin-right: 53px; }
>>>>>>> 1a6fc7e38d35923fe440356b199a83c6dcf0c341

/*# sourceMappingURL=pathway.css.map */
