@import "partials/partials";

.campaign{
    padding-bottom: 100px;
    .campaign-title{

        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: $primary-blue;

    }
    .campaign-subtitle{

        font-size: 42px;
        font-weight: 600;
        line-height: 63px;
        letter-spacing: 0em;
        text-align: center;
        padding-bottom: 75px;
        color: #2E4276;

        span{
            color: $primary-blue;
        }

    }

    .two-col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-sec{
            flex: auto;
            width: 23%;
        }
       
     
        .left-title{
            text-align: left;
        }
        .top-heading{

        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        padding: 20px 0px;
        color: #2E4276;
        span{
            color: $primary-blue;
        }

        }

        .campaign-content{
            padding-bottom: 40px;
            p{

                font-size: 18px;
                font-weight: 300;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: left;

            }
        }
        .join-us{
            a{
                text-decoration: none;
                border-radius: 28px;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                background-color:$primary-blue;
                padding: 15px 100px;
                
            }
        }

        .right-sec{
            flex: 1;
            padding-left: 80px;

            position: relative;

            &::before{
                position:absolute;
                content: "";
                background-image: url(/img/probase-icon-light.png);
                background-repeat: no-repeat;
                top: 112px;
                right: -93px;
                width: 211px;
                height: 224px; 
                
                // top: 89px;
                // right: -65px
            }

            .right-boxes{
                background: linear-gradient(150.43deg, rgba(78, 93, 181, 0.09) 1.44%, rgba(121, 140, 255, 0) 47.82%);
                border: 1px solid #A1BBFF;
                border-radius: 27px;
                padding: 50px 30px;
                margin-bottom: 25px;
               


                .bottom-content{
                    color:  #2E4276;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 42px;
                    letter-spacing: 0em;
                    text-align: left;
                    padding-top: 20px;

                }
            }
        }
        
    }
}





@media($sm-1679){


    .campaign {
        .campaign-title{
            font-size: 18px;
        }
        .campaign-subtitle{
            font-size: 30px;
            line-height: 53px;
        }

        .two-col {
            .top-heading {
                font-size: 28px;
                line-height: 44px;
            }
            .campaign-content{
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .right-sec{
                .right-boxes {
                    .bottom-content{
                        font-size: 22px;
                    }
                }
                &::before{
                    right: -69px;
                }
            }
           
        }

    }




   }


//    @media(max-width:1481px){
  


//     .campaign {
//         .campaign-title{
//             font-size: 16px;
//         }
//         .campaign-subtitle{
//             font-size: 26px;
//             line-height: 43px;
//         }

//         .two-col {
//             .top-heading {
//                 font-size: 24px;
//                 line-height: 40px;
//             }
//             .campaign-content{
//                 p{
//                     font-size: 14px;
//                     line-height: 22px;
//                 }
//             }
//             .right-sec{
//                 .right-boxes {
//                     .bottom-content{
//                         font-size: 19px;
//                     }
//                 }
//                 &::before{
//                     right: -69px;
//                 }
//             }
           
//         }

//     }





//    }


   @media($sm-767 ){
   
    .campaign {
      .campaign-subtitle{
        padding-bottom: 35px !important;
      }
        .two-col{
            flex-wrap: wrap;
         
            .top-heading{
                padding: 10px 0px;
            }
            .left-sec{
                width: 100%;
            }

            .right-sec{
                padding-top: 50px;
                padding-left: 0px;

                &::before {
                    right: -70px;
                    top: 160px;
                }

                .right-boxes{
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }

    }

 
   }

   
   

   @media (min-width: 768px) and (max-width: 1199px) {

    .campaign {
        .campaign-subtitle{
          padding-bottom: 35px !important;
        }

    .two-col{
        flex-wrap: wrap;
     
        .top-heading{
            padding: 10px 0px;
        }
        .left-sec{
            width: 100% !important; 
        }

        .right-sec{
            padding-top: 50px;
            padding-left: 0px !important;
        
            &::before {
      
                top: 149px !important;
            }
        }
        }


   }
}


//   ......................... dark theme............................


.theme-dark{
    .campaign{

        .top-heading{
            color: $primary-light;
            span{
              color: #0C15F9;
            }
        }
        .campaign-title{
            color: #0C15F9;
        } 
        .campaign-subtitle{
            color:$primary-light;
            span{
                color: #0C15F9;
            }
        }

        .join-us{
            a{
                background-color:#2966FF;
                color: #fff; 
            }
    }

    .two-col {

    

    .right-sec{

        &::before{
            background-image: url(/img/probase_icon.png);

            // top: 112px;
            // right: -93px;
            
        }
        .right-boxes {

            .bottom-content{
                color: $primary-light !important;
            }
        }
        
}
}
}
}