@import "partials/partials";

.section-faq{
  padding-top: 90px;
  padding-bottom: 90px;
  @media ($sm-1679){
    padding-top: 80px;
  padding-bottom: 80px;
  }
  @media ($sm-1481){
    padding-top: 70px;
  padding-bottom: 70px;
  }
  @media ($sm-1199){
    padding-top: 50px;
  padding-bottom: 50px;
  }
  @media ($sm-991){
    padding-top: 30px;
  padding-bottom: 30px;
  }
  .sec-title{
    color: $title-light;
    text-align: center;
    font-family: $font-primary;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 13px;
    @media ($sm-1679){
      font-size: 36px;
    }
    @media ($sm-1481){
      font-size: 32px;
    }
    @media ($sm-1281){
      font-size: 28px;
    }
    span{
      color: $title-mix-blue;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
      display: block;
    }
  }
  .sec-subtitle{
    color: $para-color;
    text-align: center;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    @media ($sm-1679){
      font-size: 18px;
      line-height: 28px;
    }
    @media ($sm-1481){
      font-size: 16px;
      line-height: 26px;
    }
    @media ($sm-1281){
      font-size: 14px;
      line-height: 24px;
    }
    @media ($sm-991){
      font-size: 12px;
      line-height: 22px;
    }
    br{
      @media ($sm-1199){
        display: none;
      }
    }
    .link{
      color: $para-color;
      text-decoration: none;
    }   
  }
   
  .accordion{
    padding-top: 40px;
    .accordion-item{
      background: transparent;
      border: 0;
      margin-bottom: 19px;
      overflow: clip;
      .accordion-button{
        box-shadow: none !important;
        border-radius: 27px;
        border: 1px solid $white;
        background-color: $accordion-light;
        font-family: $font-primary;
        font-size: 23px;
        font-weight: 500;
        line-height: 30px;
        color: $title-light;
        padding-left: 43px;
        padding-right: 43px;
        padding-top: 40px;
        padding-bottom: 24px;
        @media ($sm-1679){
          font-size: 20px;
          line-height: 30px;
        }
        @media ($sm-1481){
          font-size: 16px;
          line-height: 26px;
        }
        @media ($sm-1281){
          font-size: 14px;
          padding-top: 25px;
        }
        @media ($sm-991){
          padding-top: 25px;
        }
        &:after{
          background-image: none;
          content: '+';
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Rubik', sans-serif;
          color:#2966FF;
          font-size: 35px;
          // align-self: flex-start;
          @media ($sm-1281){
            font-size: 25px;
          }
        }
        &:not(.collapsed){
          background-color: $accordion-light;
          border-color: $white;
          border-bottom-color: transparent !important;
          border-radius: 27px 27px 0px 0px;
          padding-bottom: 10px;
          &:after{
            content: '-';
            color:#2966FF;
          }
        }
      }
      .accordion-body{
        background-color: $accordion-light;
        padding-top: 0;
        padding-bottom: 40px;
        padding-left: 43px;
        padding-right: 43px;
        border: 1px solid;
        border-color: $white;
        border-top-color: transparent !important;
        border-radius: 0px 0px 27px 27px ;
        color: $para-color;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }
}

.theme-dark{
  .section-faq{
    padding-top: 90px;
    padding-bottom: 90px;
    @media ($sm-1679){
      padding-top: 80px;
    padding-bottom: 80px;
    }
    @media ($sm-1481){
      padding-top: 70px;
    padding-bottom: 70px;
    }
    @media ($sm-1199){
      padding-top: 50px;
    padding-bottom: 50px;
    }
    @media ($sm-991){
      padding-top: 30px;
    padding-bottom: 30px;
    }
    .sec-title{
      color: $white;
      text-align: center;
      font-family: $font-primary;
      font-size: 40px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 13px;
      @media ($sm-1679){
        font-size: 36px;
      }
      @media ($sm-1481){
        font-size: 32px;
      }
      @media ($sm-1281){
        font-size: 28px;
      }
      span{
        color: $title-mix-blue;
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        display: block;
      }
    }
    .sec-subtitle{
      color: $white;
      text-align: center;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      @media ($sm-1679){
        font-size: 18px;
        line-height: 28px;
      }
      @media ($sm-1481){
        font-size: 16px;
        line-height: 26px;
      }
      @media ($sm-1281){
        font-size: 14px;
        line-height: 24px;
      }
      @media ($sm-991){
        font-size: 12px;
        line-height: 22px;
      }
      br{
        @media ($sm-1199){
          display: none;
        }
      }
      .link{
        color: #fff;
        text-decoration: none;
      }   
    }
    
    .accordion{
      padding-top: 40px;
      .accordion-item{
        background: transparent;
        border: 0;
        margin-bottom: 19px;
        overflow: clip;
        .accordion-button{
          box-shadow: none !important;
          border-radius: 27px;
          border: 1px solid $accordion-border;
          background-color: $accordion-bg;
          font-family: $font-primary;
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          color: $white;
          padding-left: 43px;
          padding-right: 43px;
          padding-top: 40px;
          padding-bottom: 24px;
          @media ($sm-1679){
            font-size: 20px;
            line-height: 30px;
          }
          @media ($sm-1481){
            font-size: 16px;
            line-height: 26px;
          }
          @media ($sm-1281){
            font-size: 14px;
            padding-top: 25px;
          }
          @media ($sm-991){
            padding-top: 25px;
          }
          &:after{
            background-image: none;
            content: '+';
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Rubik', sans-serif;
            color:#2966FF;
            font-size: 35px;
            // align-self: flex-start;
            @media ($sm-1281){
              font-size: 25px;
            }
          }
          // &.collapsed{
          //   padding-bottom: 40px;
          // }
          &:not(.collapsed){
            background-color: $accordion-bg;
            border-color: $accordion-border;
            border-bottom-color: transparent !important;
            border-radius: 12px 12px 0px 0px;
            padding-bottom: 10px;
            &:after{
              content: '-';
              color:#2966FF;
            }
          }
        }
        .accordion-body{
          background-color: $accordion-bg;
          padding-top: 0;
          padding-bottom: 40px;
          padding-left: 43px;
          padding-right: 43px;
          border: 1px solid;
          border-color: $accordion-border;
          border-top-color: transparent !important;
          border-radius: 0px 0px 27px 27px ;
          color: $white;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
  }
}