@import "partials/partials";

.section-partners{
    padding-top: 60px;
    padding-bottom: 30px;
    @media ($sm-1679){
        padding-top: 50px;
        padding-bottom: 20px;
    }
    @media ($sm-1441){
        padding-top: 40px;
        padding-bottom: 15px;
    }
    @media ($sm-1281){
        padding-top: 30px;
    }
    @media ($sm-991){
        padding-top: 24px;
    }
    .title{
        font-size: 27px;
        margin-bottom: 1.333em;
        color: #2E4276; 
        @media ($sm-1679){
            font-size: 22px; 
        }
        @media ($sm-1441){
            font-size: 20px;
            margin-bottom: 1.2em;
        }
        @media ($sm-991){
            font-size: 18px;
        }
    }
    .partners-container{
        margin-bottom: 60px;
        @media ($sm-1679){
            margin-bottom: 50px;
        }
        @media ($sm-1441){
            margin-bottom: 40px;
        }
        @media ($sm-1281){
            margin-bottom: 30px;
        }
        @media ($sm-991){
            margin-bottom: 20px;
        }
    }
    .partner-wrp{
        padding: 35px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFFFFF;
        background-color: #F8F8F8;
        border-radius: 18px;
        margin-bottom: 18px;
        @media ($sm-1679){
            padding: 30px 20px;
            border-radius: 16px;
            margin-bottom: 16px;
        }
        @media ($sm-1441){
            padding: 28px 18px;
            border-radius: 14px;
        }
        @media ($sm-1281){
            padding: 22px 18px;
            border-radius: 12px;
        }
         
        img{
            max-width: 140px;
            max-height: 38px;
            object-fit: contain;
            @media ($sm-1679){
                max-width: 120px;
                max-height: 32px;
            }
            @media ($sm-1441){
                max-width: 100px;
                max-height: 26px;
            }
            @media ($sm-1281){
                max-width: 80px;
                max-height: 20px;
            }
            @media ($sm-991){

            }
        }
    }
} 

.theme-dark{
    .section-partners{
        .title{
            color: #FFFFFF;
        }
        .partner-wrp{
            border: 1px solid #2B2B2B;
            background-color: #0A0A0A; 
            img{
                filter: brightness(0) invert(1);    
                 opacity: 0.5;
            }
        }
    } 
}