@import "partials/partials";
.props-token{
    padding: 68px 0 41px;
    position: relative;
    @media ($sm-1679){
        padding: 30px 0 30px;
    }
    @media ($sm-1481){
        padding: 25px 0 25px;
    }
    @media ($sm-991){
        padding: 20px 0 20px;
    }
    &::after{
        content: "";
        width: 207px;
        height: 245px;
        background: url(/img/title-coin.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        right: 157px;
        top: 0px;
        
        @media ($sm-1679){
            width: 155px;
            height: 175px;
        }
        @media ($sm-1441){
            right: 120px;
            width: 125px;
            height: 145px;
        }
        @media ($sm-991){
            right: 30px;
            width: 100px;
            height: 100px;
            top: 20px;
        }
        @media ($sm-767){
            right: 0px;
        }
        @media ($sm-479){
            display: none;
        }
    }
    .title{
        font-family: $font-primary;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
        text-align: center;
        color: $title-light;
        text-align: left;
        margin-bottom: 9px;
        @media ($sm-1679){
            font-size: 30px; 
        }
        @media ($sm-1441){
            // font-size: 28px;
            font-size: 25px;
        }
        @media ($sm-1281){
            font-size: 24px;
        }
        @media ($sm-991){
            font-size: 22px;
        }
        @media ($sm-991){
            font-size: 20px;
        }
        @media ($sm-579){
            font-size: 19px;
            line-height: 29px;
        }
        span{
            color: $title-mix-blue;
        }
    }
    .info-tag-btm{
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height:  30px;
        @media ($sm-1679){
            font-size: 18px; 
            line-height: 28px;
        }
        @media ($sm-1441){
            font-size: 16px;
            line-height: 26px;
        }
        @media ($sm-991){
            font-size: 14px;
            line-height: 24px;
        }
        @media ($sm-479){
            font-size: 13px;
            line-height: 23px;
        }

    }
    .benefits-listing{
        margin: 64px 0 0 20px; 
        padding: 0px;
        @media ($sm-1679){
            margin: 50px 0 0 20px; 
        }
        @media ($sm-1481){
            margin: 40px 0 0 20px; 
        }
        @media ($sm-1281){
            margin: 35px 0 0 20px; 
        }
        @media ($sm-991){
            margin: 30px 0 0 20px; 
        }
        @media ($sm-579){
            margin: 20px 0 0 20px; 
        }
        li{
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 152.5%; /* 30.5px */
            color: $para-color;
            margin-bottom: 44px;
            @media ($sm-1679){
                font-size: 18px; 
                margin-bottom: 10px;
            }
            @media ($sm-1481){
                font-size: 16px;
            }
            @media ($sm-991){
                font-size: 14px;
                margin-bottom: 10px;
            }
            span{
                &.bold{
                    font-weight: 700;
                }
            }
        }
    }
}

// props accumulation start here
.props-accumulation{
    padding: 68px 0 85px;
    position: relative;

    @media ($sm-1679){
        padding: 30px 0 30px;
    }
    @media ($sm-1481){
        padding: 25px 0 25px;
    }
    @media ($sm-991){
        padding: 20px 0 20px;
    }
    br{
        @media (max-width:680px){
            display: none;
        }
    }
    &::before{
        content: "";
        width: 160px;
        height: 160px;
        background: url(/img/title-coin.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        left: -190px;
        top: 0px;
        
        @media ($sm-1679){
            width: 120px;
            height: 140px;
            left: -145px;
        }
        @media ($sm-1481){
            left: -110px;
            width: 110px;
            height: 145px;
        }
        @media ($sm-1441){
            left: -78px;
            width: 110px;
            height: 110px;
        }
        @media ($sm-991){
            left: -50px;
            width: 80px;
            height: 80px;
            top: 10px;
        }
        @media ($sm-767){
            left: -65px;
        }
        @media ($sm-479){
            display: none;
        }
    }
    &::after{
        content: "";
        width: 190px;
        height: 200px;
        background: url(/img/coin-lg-brand.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        right: -145px;
        bottom: -40px;
        
        @media ($sm-1679){
            width: 166px;
            height: 175px;
            right: -135px;
        }
        @media ($sm-1481){
            right: -110px;
            width: 140px;
            height: 140px;
        }
        @media ($sm-1441){
            right: -75px;
            width: 120px;
            height: 130px;
        }
        @media ($sm-1199){
            right: -45px;
            width: 100px;
            height: 120px;
        }
        @media ($sm-991){
            right: -45px;
            width: 90px;
            height: 100px;
            bottom: -35px;
        }
        @media ($sm-767){
            right: -48px;
        }
        @media ($sm-479){
            display: none;
        }
    }
    .title{
        font-family: $font-primary;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 48px;
        text-align: center;
        color: $title-light;
        text-align: center;
        @media ($sm-1679){
            font-size: 30px; 
            line-height: 40px;
            margin-bottom: 30px;
        }
        @media ($sm-1441){
            // font-size: 28px;
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 35px;
        }
        @media ($sm-1281){
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 32px;
        }
        @media ($sm-991){
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 30px;
        }
        @media ($sm-767){
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        @media ($sm-579){
            font-size: 19px;
            line-height: 29px;
        }
        span{
            color: $title-mix-blue;
        }
    }
    .graph-wrap{
        border-radius: 27px;
        width: 100%;
        img{
            max-width: 100%;
        }
    }
}
// props accumulation end here
// post session start here
.props-posts{
    padding: 68px 0 85px;
    position: relative;

    @media ($sm-1679){
        padding: 30px 0 30px;
    }
    @media ($sm-1481){
        padding: 25px 0 25px;
    }
    @media ($sm-991){
        padding: 20px 0 20px;
    }
    br{
        @media (max-width:680px){
            display: none;
        }
    }
    &::before{
        content: "";
        width: 160px;
        height: 160px;
        background: url(/img/title-coin.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        left: -190px;
        bottom: 0px;
        
        @media ($sm-1679){
            width: 120px;
            height: 140px;
            left: -145px;
        }
        @media ($sm-1481){
            left: -110px;
            width: 110px;
            height: 145px;
        }
        @media ($sm-1441){
            left: -78px;
            width: 110px;
            height: 110px;
        }
        @media ($sm-991){
            left: -50px;
            width: 80px;
            height: 80px;
            bottom: 10px;
        }
        @media ($sm-767){
            left: -65px;
        }
        @media ($sm-479){
            display: none;
        }
    }
    .title-blk{
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        @media ($sm-1679){
            margin-bottom: 30px;
        }
        @media ($sm-1441){
            margin-bottom: 35px;
        }
        @media ($sm-1281){
            margin-bottom: 32px;
        }
        @media ($sm-991){
            margin-bottom: 30px;
        }
        @media ($sm-767){
            margin-bottom: 20px;
        }
        @media (max-width:370px){
            flex-direction: column;
            align-items: flex-start;
        }
        .article-link{
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: $title-mix-blue;
            text-decoration: none;
            margin-left: auto;
            margin-right: 10px;
            position: relative;
            top: -3px;
            @media ($sm-1679){
                font-size: 16px; 
                line-height: 26px;
                
    
            }
            @media ($sm-1281){
                font-size: 15px;
                line-height: 25px;
    
            }
            @media ($sm-991){
                font-size: 14px;
                line-height: 24px;
       
            }


            &::after{
                content: "";
                background: url(/img/arrow-long.svg) no-repeat right;
                padding-right: 48px;
                @media ($sm-1679){
                    background-size: 20px;
                    padding-right: 30px;
                }
            }
        }
    }
    .title{
        font-family: $font-primary;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        
        text-align: center;
        color: $title-light;
        text-align: left;
        @media ($sm-1679){
            font-size: 30px; 
            line-height: 40px;

        }
        @media ($sm-1441){
            // font-size: 28px;
            font-size: 25px;
            line-height: 35px;

        }
        @media ($sm-1281){
            font-size: 24px;
            line-height: 34px;

        }
        @media ($sm-991){
            font-size: 22px;
            line-height: 32px;
   
        }
        @media ($sm-767){
            font-size: 20px;
            line-height: 30px;

        }
        @media ($sm-579){
            font-size: 19px;
            line-height: 29px;
        }
        span{
            color: $title-mix-blue;
        }
    }
    .posts-hldr{
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        @media ($sm-1679){
            column-gap: 30px;
        }
        @media ($sm-1441){
            column-gap: 25px;
        }
        @media ($sm-1199){
            column-gap: 20px;
        }
        @media (max-width:700px){
            flex-direction: column;
        }
        .post-wrp{
            border-radius: 27px;
            border: 1px solid $white;
            background: linear-gradient(180deg, #D4D4EA 0%, #F8F8FF 100%);
            width: 31%;
            display: flex;
            flex-direction: column;
            @media ($sm-1199){
                border-radius: 10px;
                width:47%;
                margin-bottom: 20px;
            }
            @media (max-width:700px){
                width: 100%;
                
            }
            .img-wrp{
                border-radius: 27px 27px 0 0;
                overflow: hidden;
                position: relative;
                @media ($sm-1199){
                    border-radius: 10px 10px 0 0;
                }
                .prp-btn{
                    border-radius: 19px;
                    background: #2966FF;
                    height: 33px;
                    width: 111px;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 32px;
                    bottom: 18px;
                    text-decoration: none;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    cursor: pointer;
                    @media ($sm-1679){
                        left: 20px;
                    }
                    @media ($sm-579){
                        font-size: 13px;
                        line-height: 23px;
               
                    }
                }
            }
        }
        .post-content{
            padding: 31px 34px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px; /* 168.75% */
            color:$para-color;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
            flex: 1;
            @media ($sm-1679){
                font-size: 15px;
                line-height: 25px;
                padding: 25px 25px;
            }
            @media ($sm-1481){
                font-size: 14px;
                line-height: 24px;
                padding: 20px;
            }
            @media ($sm-1441){
                font-size: 14px;
                line-height: 24px;
                padding: 15px;
            }
            @media ($sm-1199){
                font-size: 14px;
                line-height: 24px;
                padding: 20px;
            }
            @media ($sm-579){
                font-size: 13px;
                line-height: 23px;
            }
            .para{
                display: flex;
                height: 100%;
            }
            .published{
                display: block;
                font-size: 13px;
                font-style: italic;
                font-weight: 400;
                line-height: 27px; /* 207.692% */
            }
        }
    }
}

.theme-dark{
    .props-token .title{
        color: $white;
    }
    .props-token .benefits-listing li{
        color: $white;
    }
    .props-accumulation .title{
        color: $white;
    }
    .props-posts .title{
        color: $white;
    }
    .props-posts .posts-hldr .post-wrp{
        border: 1px solid #223A60;
        background: linear-gradient(180deg, #0D0E31 45%, rgba(34, 55, 98, 0.00) 100%);
    }
    .props-posts .posts-hldr .post-content{
        color: #fff;
    }
}