@import "partials/partials";

.by-props-sec{
    // padding-top: 100px;

    .heading{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    padding-bottom: 30px;
    color: #2E4276;


    span{
        color:$primary-blue;
    }

    }
    .four-props{
        display: flex;
        justify-content: space-between;
       

        .box-props{
            display: flex;
            align-items: center;
            width: 24%;
            border-radius: 15px;
            padding: 20px 30px;
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0;
                color: #2E4276;
            }
          
            background:#B8DCFF;
            
            &:nth-child(2){
                background:#DFFAFC;

            }

            &:nth-child(3){
                background:#F8E1FF;

            }

            &:last-child{
                background:#E6E6E6;
            }

            .imgs-props{
                padding-right: 10px;
                max-width: 37px;
                max-height: 37px;

                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

    }

    

}


//   ......................... dark theme............................

.theme-dark{
    
.by-props-sec{
    .heading{
        color: $primary-light;
        span{
            color: #0C15F9;
        }
    }


    .four-props{
       

        .box-props{
            background: linear-gradient(0deg, #050D16, #050D16),
            linear-gradient(0deg, #09192B, #09192B);
            
            &:nth-child(2){
                background: linear-gradient(0deg, #031212, #031212),
                linear-gradient(0deg, #062222, #062222);

            }

            &:nth-child(3){
                background: linear-gradient(0deg, #100414, #100414),
                linear-gradient(0deg, #280A33, #280A33);

            }

            &:last-child{
                background: linear-gradient(0deg, #0F0F0F, #0F0F0F),
                linear-gradient(0deg, #1E1D1D, #1E1D1D);

            }

            p{
                color: $primary-light;
            }
}
}

}}


@media($sm-1679){
   

    .by-props-sec{

        .heading{
            font-size: 30px;
            line-height: 44px;
         }
        .four-props {
            
            .box-props {
                p{
                    font-size: 13px;
                }
            }

        }
    } 


   }


   @media($sm-1441){
    

    .by-props-sec{

        .heading{
            font-size: 28px;
            line-height: 43px;
         }
        .four-props {
            
            .box-props {
                p{
                    font-size: 14px;
                }
            }

        }
    } 


   }
   @media ($sm-1281){
    .by-props-sec{

        .heading{
            font-size: 24px;
            line-height: 32px;
         }
        
        }
    }
   @media ($sm-991){
    .by-props-sec{

        .heading{
            font-size: 22px;
            line-height: 43px;
         }

         .four-props {
            
            .box-props {
                p{
                    font-size: 14px;
                }
            }

        }
        }
   }

   @media($sm-767){
 

    .by-props-sec {
        padding: 50px 0px;
        .four-props{
            flex-wrap: wrap;

            .box-props{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
   }

   @media (min-width: 768px) and (max-width: 1199px) {

    
    .by-props-sec {
        padding: 50px 0px;
        .four-props{
            flex-wrap: wrap;

            .box-props{
                width: 48%;
                margin-bottom: 20px;
            }
        }
    }

   }