@import "partials/partials";

.section-security{
    padding-top: 70px;
    padding-bottom: 70px;
    .title{
        font-size: 36px;
        line-height: 1.5;
        @media ($sm-1679){
            font-size: 30px;
        }
        span{
            color: $primary-blue;
        }
    }

    .security-cont-wrp{
        padding: 42px;
        border: 1px solid transparent;
        border-radius: 28px;
        margin-top: 48px;
        .title{
            font-size: 25px;
        }
        ul{
            padding-left: 0;
            list-style: none;
            padding-top: 30px;
            
            li{
                font-size: 18px;
                line-height: 1.8333;
                margin-bottom: 2em;
                padding-left: 20px;
                position: relative;
                @media ($sm-1679){
                    margin-bottom: 1.3em;
                    margin-bottom: 1.2;
                }
                @media ($sm-1481){
                    font-size: 14px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                &:before{
                    display: block;
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 0; 
                    height: 0; 
                    border-top: 0.333em solid transparent;
                    border-bottom: 0.333em solid transparent;
                    border-left: 0.5em solid $primary-blue;
                    top: 0.5em;
                }
            }
        }
        .img-col{
            max-width: 360px;
            @media ($sm-1481){
                max-width: 260px;
            }
            @media ($sm-1367){
                max-width: 240px;
            }
            @media ($sm-1281){
                max-width: 210px;
            }
            @media ($sm-1199){
                max-width: 360px;
                padding-top: 30px;
                padding-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
            }
            img{
                max-width: 340px;
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
            }
        }
        .txt-col{
            @media ($sm-1199){
                flex: 0 0 100%;
            }
        }
        .txt-title{
            color: #2E4276;
        }
        ul{
            color: #4D6090; 
        }
        &.security{
            background-color: #F8F8FF;
            .txt-col{
                @media ($sm-1199){
                    order: 2;
                }
            }
        }
        &.assurance{
            background-color: #F8F8FF;
            .txt-col{
                order: 2;
                @media ($lg-992){
                    padding-left: 20px;
                }
                @media (min-width: 1481px){
                    padding-left: 50px;
                }
            }
            .img-col{
                order: 1;
            }
        }
    }
}

.theme-dark{
   
    .section-security{
        .security-cont-wrp{
            border: 1px solid #1A2339;
            .txt-title{
                color: #ffffff;
            }
            ul{
                color: #ffffff; 
            }
            &.security{
                background-color: #020419;
            }
            &.assurance{
                background-color: #020626;
            }
        }
    } 
}