@import "partials/partials";
.statistics{
    margin-bottom: 120px;
    .title{
        font-family: $font-primary;
        font-size: 36px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
        text-align: center;
        span{
            color: $title-mix-blue;
        }
    }
    .content-txt{
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        color: $white;
        margin-bottom: 24px;
        text-align: center;
    }
    .statistics-blks-wrp{
        display: flex;
        column-gap: 24px;
        row-gap: 56px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        .statistics-blks{
            border-radius: 14px;
            border: 2px solid $light-dark-border;
            background: $static-blks-bg;
            padding: 36px;
            .blks-title{
                color: #2966FF;
                text-align: center;
                font-family: $font-primary;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 36px;
                span{
                    margin-right: 12px;
                }
            }
            .numerics{
                color: #FFF;
                text-align: center;
                font-family: $font-primary;
                font-size: 28px;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}